/* about us i1 */
@keyframes spin {
    from{
    transform: rotateY(0deg);
  
    }
    to{
    transform: rotateY(26deg);
  
    }
   }
   @-webkit-keyframes spin{
    from{-webkit-transform: rotateY(0deg);}
    to{-webkit-transform: rotateY(26deg);}
   }
   .imageSpin{
    margin-top: 20px;
    transform: translateY(-15%) rotate(10deg);
   }
   
   .imageSpin:hover{
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    -webkit-animation-name: spin;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;
   }
   /*.*/
  
   /** ----//
  *  @group standaard animaties
  *  @author @david
  */
  
  /* Trigger  */
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    }
  
  /* Optional Delays, change values here  */
  .one { animation-delay: 0.2s; }
  .two { animation-delay: .6s; }
  .three { animation-delay: 1s; }
  .four { animation-delay: 1.4s; }
  
  /* Animations start here  */
  
  /* FADE IN  */
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; } }
  .fadeIn { animation-name: fadeIn; }
  
  
  /* FADE IN DOWN */
  
  @keyframes fadeInDown {
    from { opacity: 0; transform: translate3d(0, -100%, 0); }
    to { opacity: 1; transform: none; } }
  .fadeInDown { animation-name: fadeInDown; }
  
  /* FADE IN UP */
  
  @keyframes fadeInUp {
    from { opacity: 0; transform: translate3d(0, 20px, 0); }
    to { opacity: 1; transform: none; } }
  .fadeInUp { animation-name: fadeInUp; }
  
  /* FADE IN UP BIG */
  
  @keyframes fadeInUpBig {
    from { opacity: 0; transform: translate3d(0, 100px, 0); }
    to { opacity: 1; transform: none; } }
  .fadeInUpBig { animation-name: fadeInUpBig; }
  
  /* FADE IN LEFT */
  
  @keyframes fadeInLeft {
    from { opacity: 0; transform: translate3d(-30px, 0, 0)rotateZ(30deg); }
    to { opacity: 1; transform: none; } }
  .fadeInLeft { animation-name: fadeInLeft; }
  
  /* FADE IN LEFT BIG */
  
  @keyframes fadeInLeftBig {
    from { opacity: 0; transform: translate3d(-100px, 0, 0) scale(1.3); }
    to { opacity: 1; transform: none; } }
  .fadeInLeftBig { animation-name: fadeInLeftBig; }

  @keyframes changeColor {
    from { fill: black; transform: scale(1); }
    to { fill:  #ffc800; transform: none scale(1.5); } }

  .changeColor { animation-name: changeColor; }
  

  /* FADE IN RIGHT */
  
  @keyframes fadeInRight {
    from { opacity: 0; transform: translate3d(100px, 0, 0); }
    to { opacity: 1; transform: none; } }
  .fadeInRight { animation-name: fadeInRight; }
  
  /* @end standaard animaties  */
  
  
  .callout {
    max-width: 500px;
    margin:0 auto;
    padding-bottom:100px
  }
  
  .test.in-view {
    animation: fadeInUp 2s;
    }
  
  .animationonviewport.in-view {  
     animation: fadeInLeftBig;
      animation-duration: 1s;
     animation-delay: 0s;
     animation-fill-mode: both;
     backface-visibility: hidden;
  }
  
  
  .box.in-view {  
    animation: fadeInRight;
     animation-duration: 1.6s;
    animation-delay: 0s;
    animation-fill-mode: both;
    backface-visibility: hidden;
  }
  
  .dinstensvg.in-view {
    -webkit-transform:scale(1.25);
    fill: #ffc800;
    animation: changeColor;
    animation-duration: 1.6s;
    animation-delay: 0s;
    animation-fill-mode: both;
    backface-visibility: hidden;
    
  }
 



  @media (min-width: 992px) { 
    .dinstensvg.in-view {
      -webkit-transform: none;
      fill: black;
      animation: none;
    }

  }

