
.hide-sm{
  display: none;
}
.hide-lg{
  display: block;
}
.gg::before {
  content: url('/img/logo.png');
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: none;
  margin-top: 0;
  height: 86%;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 100%;
  -webkit-box-shadow: 0px 25px 55px 0px #ffc800;
  box-shadow: 0px 25px 55px 0px #ffc800;
  margin-top: 0;
}

header.masthead h1 {
  padding-top: 1%;
  font-size: 3rem;
  line-height: 3rem;
}

header.masthead h2 {
  font-size: 1.3rem;
  font-family: 'Lato';
}
header.button h2 {
margin-top: 10px;
}



.myVideo {
   position: relative;
    width: 100%;
    min-height: 100%;

    left: 50%;
    transform: translate(-50%);
}

.dirtyVideo {
  position: relative;
   width: auto;
   min-height: 36%;
   min-width: 40%;
  
}


.adress { 
  cursor: url('/img/cursor.cur'), auto; 
}

.lovecursor {
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png"), auto;
}
.footer {
padding-top: 4rem;
  background-color: #ffc800;
  color: rgba(29, 25, 25, 0.705);
  opacity: 0.95;
}

.copyright {
  background-color: #e6b400;
}

a {
  color: rgba(29, 25, 25, 0.705);
}

a:focus, a:hover, a:active {
  color: rgba(2, 1, 1, 0.705);
}

.btn {
  border-width: 2px;
}

.bg-primary {
  background-color: rgba(29, 25, 25, 0.705) !important;
}

.bg-secondary {
  background-color: #ffc800 !important;
}

.text-primary {
  color: rgba(29, 25, 25, 0.705) !important;
}

.text-secondary {
  color: #ffc800 !important;
}

.btn-primary {
  background-color: rgba(29, 25, 25, 0.705);
  border-color: rgba(29, 25, 25, 0.705);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: rgba(2, 1, 1, 0.705);
  border-color: rgba(2, 1, 1, 0.705);
}

.btn-secondary {
  background-color: #ffc800;
  border-color: #ffc800;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #cca000;
  border-color: #cca000;
}


/* logos of companies */
svg.dinstensvg{
  height: 57px;
  width: 57px;
}

svg.dinstensvg:hover{
  -webkit-transform:scale(1.25);
  fill: #ffc800;
}

/*merk logos*/
figure.img {
  height: 57px;
  width: 57px;
}

div.overons {
  width: 133px;
  height: 39px;
  border-style: solid;
  border-color: #ffc800;
  -webkit-box-shadow: -8px 58px 200px 6px #ffc800;
  -moz-box-shadow: -8px 58px 200px 6px #ffc800;
  box-shadow: -8px 58px 200px 6px #ffc800;
  position: relative;
  /*animation-name: example;
  animation-duration: 4s;
  animation-delay: -2s;*/
}

@keyframes example {
  0%   { left:0px; top:0px;}
  25%  {background-color: #ffc800; left:200px; top:0px;}
  50%  {background-color: #ffc800; left:200px; top:200px;}
  75%  {background-color:black; left:0px; top:200px;}
  100% {background-color:black; left:0px; top:0px;}
}


@media (min-width: 992px) {
  .hide-sm{
    display: block;
  }
  .hide-lg{
    display: none;
  }
  
  header.masthead {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: fixed;
    margin-top: -7%;
    height: 86%;
    padding-top: calc(6rem + 22px);
    padding-bottom: calc(1rem - 22px);
    min-height: 100%;
    -webkit-box-shadow: 0px 25px 55px 0px #ffc800;
    box-shadow: 0px 25px 55px 0px #ffc800;
  }
  header.masthead h1 {
    padding-top: 6%;
    font-size: 4.75em;
    line-height: 4rem;
  }
  header.masthead h2 {
    font-size: 1.75em;
  }
  header.masthead .btn-welcome {
    background-repeat: repeat-x;
    position: relative;
    margin-bottom: 20%;
    margin-top: 25%;
    -webkit-box-shadow: 0px 10px 55px 0px #ffc800;
    box-shadow: 0px 10px 55px 0px #ffc800;
    opacity: 0.9;
  }
  h1{
    font-size: 28px;
  }



  .dirtyVideo {
    position: relative;
    margin-top: -160px;
    margin-right: -360px;

  }
  .margin-btn {
    position: relative;
    margin-top: -160px;
    }



    .card-text-m {
 margin-left: -70px;
      }
      
      
  
}

section.contract {
  padding-top: 7rem;
  padding-bottom: 0rem;
}
.fixed-card-size {
 
  width: 5rem;
    }
    
.cd-card:hover{
  background-color: #ffc800;
  opacity: 0.79;
  -webkit-box-shadow: 0px 25px 55px 0px #ffc800;
  box-shadow: 0px 25px 55px 0px #ffc800;
}


.cd-card:hover i{
color:  rgba(131, 49, 49, 0.705);
}














/* if it was SASS you could use: 
.test2.in-view {
     @extend .fadeInUpBig;
}
*/
 .cracked{
  display: block;
  background-image: 
  url("/img/crackedscreen.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center; 
  background-size: cover;
 }

/*Html code for scrollbar*/
 html {
  --scrollbarBG:  rgba(29, 25, 25, 0.705);;
  --thumbBG: #ffc800;
} 
body::-webkit-scrollbar {
  width: 14px;
  opacity: 0.8;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);

}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 1.5px solid var(--scrollbarBG);
  -webkit-box-shadow: -8px 58px 200px 6px #ffc800;
  -moz-box-shadow: -8px 58px 200px 6px #ffc800;
  box-shadow: -8px 58px 200px 6px #ffc800;
  opacity: 0.6;
}
