// Styling for the navbar
#mainNav {
  opacity: 0.95;
  -webkit-box-shadow: 0px 25px 55px 0px $secondary;
  -moz-box-shadow: 0px 25px 55px 0px $secondary;
  box-shadow: 0px 25px 55px 0px $secondary;

  @include heading-font;
  .navbar-brand {
    color: $primary;
    text-align: left;
  }
  .navbar-brand::before {
    content: url('/img/logo.png');
  }
  .navbar-nav {
    letter-spacing: 0.0625rem;
    li.nav-item {
      a.nav-link {
        color: $primary;
        &:hover {
          color: $white;
        }
        &:active,
        &:focus {
          color: $white;
        }
        &.active {
          color: $primary;
        }
      }
    }
  }
  .navbar-toggler {
    font-size: 30%;
    padding: 0;
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding: 0, 10%, 0, 10%;

    -webkit-box-shadow: 0px 25px 55px 0px $secondary;
    -moz-box-shadow: 0px 25px 55px 0px $secondary;
    box-shadow: 0px 25px 55px 0px $secondary;
    opacity: 0.95;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: font-size 0.3s;
      -moz-transition: font-size 0.3s;
      transition: font-size 0.3s;
    }
    .navbar-nav {
      margin-top: 0;
    }
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: $white;
      background: $primary;
      &:active,
      &:focus,
      &:hover {
        color: $white;
        background: $primary;
      }
    }
  }
  #mainNav.navbar-shrink {
    padding-top: 0.3rem;
    padding-bottom: 0rem;
    .navbar-brand {
      font-size: 1.5em;
    }
  }
}
